body, html {
    font-family: 'Raleway';
	position: relative;
    background: #EAEAEA;
    margin: 0px;
}


a:link, a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
a:link:active, a:visited:active {
    color: black;
}
a:hover{
    color: white;
}

.mainhead {
    position: relative;
    width: 100%;
    top: 0;
}

.decoration {
    z-index: 2;
    height: 5px;
    width: 100%;
    background-color: #702283;
    position: fixed;
}

#navbar {
	z-index: 2;
	top: 5px;
    color:black;
    background-color: #EAEAEA;
    height: 45px;
	padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search input[type=text] {
    height: 24px;
    width: 144px;
    position: absolute;
    top: 50%;
    transform: translate(475%, -50%);
    left: 30%;
    background: #fff;
    border: 2px groove #D5D5D5;
    opacity: 0.5;
    float: right;
    padding: 0 10px;
    font-style: italic;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    transition-duration: 200ms;
}
  
#search input[type=text]:focus {
    border: 2px groove #C6A1D0;
    font-style: normal;
}

#searchImg {
	position: absolute;
	height: 15px;
	width: auto;
    top: 50%;
    left: 91%;
	transform: translate(415%, -55%);
	opacity: .5;
    transition: opacity 160s ease-in-out;
    -moz-transition: opacity 160ms ease-in-out;
    -webkit-transition: opacity 160ms ease-in-out;
}

#searchImg:hover {
	opacity: .8;
	cursor: pointer;
	transition-duration: 500ms;
    transition: opacity 160s ease-in-out;
    -moz-transition: opacity 160ms ease-in-out;
    -webkit-transition: opacity 160ms ease-in-out;
}

#scaled-logo {
    height: 15%;
	width: 15%;
	cursor: pointer;
}

#brand:hover {
    opacity: 0.5;
    cursor: pointer;
}

#logo {
    float: left;
    margin-left: 100px;
}

#splash {
    position: absolute;
    top: 60px;
    height: 380px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#artistimage {
    transform: translateY(-80px);
    height: 190%;
    width: 100%;   
}

#artistname {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 150px;
    font-weight: bold;
}

.headings {
    margin-left: 5px;
    padding: 0px 0px 30px 5px;
    display: flex;
    font-size: 35px;
    font-weight: bolder;
    color: #702283;    
}

.rows {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.imagecontainer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.12);
}

.albumimage {
    width: 150px;
    height: 150px;
}

#albumlisting {
    position: absolute;
    margin-left: 150px;
    top: 480px;
    bottom: 80%;
}
.listing {
    transform: translateY(-10px);
    margin-left: 50px;
}

.albumyear {
    padding: 0px 0px 5px 0px;
    font-size: 15px;
    color: grey;
}
.albumname {
    font-size: 25px;
}

table {
    margin-top: 10px;
    width: 100%;
}

.song {
    padding: 10px 800px 10px 10px;
    border-bottom: 0.5px solid #702283;
    border-collapse: collapse;
}


td:hover{
    background-color: #702283;
    color: white;
    opacity: 0.5;
    font-weight: bolder;
    cursor: pointer;
}

#topsong{
    border-top: 2px solid #702283 ;
}

#hidden1, #hidden2, #hidden3{
    display: none;
    margin-top: 0px;
}

#button1, #button2, #button3 {
    background-color: #EAEAEA;
    border: solid;
    color: #702283;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 60px;
}

#button1:hover {
    background-color: #702283;
    color: #EAEAEA;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.1);
}

#button2:hover {
    background-color: #702283;
    color: #EAEAEA;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.1);

}
#button3:hover {
    background-color: #702283;
    color: #EAEAEA;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.1);
}

.othersonglisting {
    position: absolute;
    margin-left: 150px;
    top: 1450px;
}

.othersong {
    padding: 10px 600px 10px 0px;  
    border-bottom: 0.5px solid #702283;
    display: flex;
    flex-direction: row;
}

.os{
    padding: 0px 0px 0px 50px;
    align-self: center;
}

.spcontainer{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.12);
}

.simg{
    height: 70px;
    width: 70px;
}

#endbar{
    position: relative;
    background-color: #702283;
    color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 2500px;
}

#footer {
	width: 100%;
	height: auto;
	padding: 100px 0px 40px 0px;
	text-align: center;
	font-size: 13px;
}

#footer em {
	font-weight: 900;
}
