a:link, a:visited {
  color: #702283;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #702283;
}

body, html {
  background: #EAEAEA;
  font-family: 'Raleway';
  margin: 0;
}

#topbar {
  height: 80px;
	position: fixed;
	width: 100%;
  background: #EAEAEA;
  z-index: 1000000;
  top: 0px;
}

.decoration {
  z-index: 2;
  height: 5px;
  margin-left: 0px;
  width: 100%;
  background-color: #702283;
  position: fixed;
}

#logo {
  float: left;
	padding: 0px 10px;
  transform: translate(3.25%, 37%);
}

#scaled-logo {
	height: 15%;
	width: 15%;
	cursor: pointer;
}

#search input[type=text] {
  height: 24px;
	width: 144px;
	position: absolute;
	top: 50%;
	transform: translate(475%, -50%);
	left: 30%;
	float: right;
	background: #fff;
	border: 2px groove #D5D5D5;
	opacity: 0.5;
	padding: 0 10px;
	font-style: italic;
	font-size: 16px;
	outline: none;
  border-radius: 50px;
  transition-duration: 200ms;
}

#search input[type=text]:focus {
	border: 2px groove #C6A1D0;
  font-style: normal;
}

#searchImg {
	position: absolute;
	height: 15px;
	width: auto;
	left: 91%;
	top: 50%;
	transform: translate(415%, -55%);
	opacity: .5;
  transition: opacity 160s ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -webkit-transition: opacity 160ms ease-in-out;
}

#searchImg:hover {
	opacity: .8;
	cursor: pointer;
	transition-duration: 500ms;
  transition: opacity 160s ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -webkit-transition: opacity 160ms ease-in-out;
}

#album_cover {
  width: 250px;
  height: 250px;
}

#album_cover img {
  width: 100%;
  height: auto;
  border-radius: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#unfilled, #filled {
  background: transparent;
  border: none;
  display: flex;
  width: 132px;
  height: 30px;
  cursor: pointer;
}

#filled {
  transform: translateY(-100%);
}

#star2, #up2, #down2 {
  opacity: 0;
  transition: opacity 160s ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -webkit-transition: opacity 160ms ease-in-out;
}

#star2:hover, #up2:hover, #down2:hover {
  opacity: .5;
  transition: opacity 160ms ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -webkit-transition: opacity 160ms ease-in-out;
}

#star2:active, #up2:active, #down2:active {
  opacity: 0.9;
}

#scaled-img {
	height: 70%;
	width: auto;
  opacity: 0.75;
}

#scaled-img:hover {
	cursor: pointer;
  transition-duration: 500ms;
  opacity: 1;
}

#buttons img {
  width: 60%;
  height: auto;
}

#name {
  transition-duration: 0.25s;
  color: #702283;
  cursor: pointer;
}

#name:hover {
  opacity: 0.5;
}

#song_description {
  width: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  transform: translate(22%, 90%);
}

#text_content {
  position: block;
  margin-left: 60px;
  line-height: 8px;
  transform: translateY(8%);
}

#lyrics {
  margin-top: 64px;
  position: absolute;
  font-size: 20px;
  word-wrap: break-word;
  top: 0%;
  left: 52%;
  line-height: 1.75;
}
